<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="ex.css" rel="stylesheet"
</head>
<body>
    <script src="elements.js"></script>
    <yt-new>TEST CUSTOM TAG </yt-new>
    <div name="frame">
        <div name="all">
            <div name="tophead">
                <div name="start" class="ytd-tophead">
                    <div name="yt-menu" class="ytd-tophead">
                        <button>A</button>
                    </div>
                    <div name="yt-homelink-renderer" class="ytd-tophead">
                        <a>
                            <span>IorS</span>
                        </a>
                    </div>
                </div>
                <div name="center" class="ytd-tophead">
                    
                </div>
                <div name="end" class="ytd-tophead">
                    
                </div>
            </div>
        </div>

    </div>

</body>
</html>